{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">


        <section>

            <div class="card shadow p-4 p-sm-5 p-md-6">
                <!-- Card header -->
                <div class="card-header border-bottom px-0 pt-0 pb-5">

                    <!-- Title -->
                    <h1 class="mb-3 h3">등록</h1>
                    <p class="mb-0"><a href="#"></a></p>
                </div>

                <!-- Card body & form -->
                <form name="writeForm" method="post" action="/board/{{bid}}/delete" class="card-body px-0 pb-0 pt-5 needs-validation">
                    <input type="hidden" name="n" value="{{idx}}" />
                    <input type="hidden" name="bid" value="{{bid}}" />
                    <!-- Name -->
                    <div class="input-floating-label form-floating mb-4">
                        <input name="password" type="password" class="form-control bg-transparent" id="floatingName" placeholder="Password" required="">
                        <label for="floatingName">비밀번호</label>
                    </div>
                    <!-- Button -->
                    <button type="submit" class="btn btn-lg btn-primary mb-0">확인</button>
                </form>
            </div>

        </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->


{{>layouts/footer}}
