{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">


        <section>


            <div class="">
                <!-- Title and offcanvas button -->
                <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
                    <!-- Title -->
                    <h1 class="h3 mb-0">게시판</h1>
                </div>

                <!-- Search and buttons -->
                <form mehtod="post" action="" class="rounded position-relative">
                <div class="row g-3 align-items-center mb-5">
                    <!-- Search -->
                    <div class="col-xl-5">
                            <input name="keyword" class="form-control pe-5" type="검색어를 입력하세요" placeholder="Search" aria-label="Search">
                            <button type="submit" class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"></button>
                  </div>

                    <!-- Button -->
                    <div class="col-sm-6 col-xl-3">
                        <a href="#" class="btn btn-primary mb-0">검색</a>
                    </div>
                </div>
                </form>
            </div>




            <div class="container">
                <!-- Title -->
                <div class="row g-4 g-md-5">


                    {{#boardList}}
                        <!-- Item -->
                        <div class="col-md-6 col-lg-4">
                            <div class="card card-body border p-4 h-100">
                                <h6 class="text-primary mb-4">{{name}}</h6>
                                <h5><a href="/board/{{bid}}/{{idx}}">{{title}}</a></h5>
                                <p class="mb-0">{{createdDate}}</p>
                            </div>
                        </div>
                    {{/boardList}}


                </div>
            </div>

            <ul class="pagination pagination-primary-soft list-unstyled d-flex justify-content-center flex-wrap mb-0 mt-5">
                <li class="page-item">
                    <a class="page-link" href="#"><i class="fas  me-2 rtl-flip"></i>Prev</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">22</a></li>
                <li class="page-item"><a class="page-link" href="#">23</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next<i class="fas  ms-2 rtl-flip"></i></a>
                </li>
            </ul>


            <div class="col-sm-6 col-xl-3">
                <a href="/board/{{bid}}/reg" class="btn btn-primary mb-0">등록</a>
            </div>

        </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->
{{>layouts/footer}}