{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">


        <section>
            <div class="card shadow p-4 p-sm-5 p-md-6">


                <!-- Card header -->
                <div class="card-header border-bottom px-0 pt-0 pb-5">
                    <!-- Title -->
                    <h1 class="mb-3 h3">수정</h1>
                    <p class="mb-0"><a href="#"></a></p>
                </div>

                {{#boardRead}}
                <!-- Card body & form -->
                <form name="writeForm" method="post" action="/board/{{bid}}/modifyUpdate" class="row g-4 needs-validation mt-3">
                    <input type="hidden" name="idx" value="{{idx}}" />
                    <input type="hidden" name="bid" value="{{bid}}" />
                    <div class="col-md-6">
                        <label class="form-label heading-color">이름 *</label>
                        <input type="text" name="name" class="form-control form-control-lg" placeholder="" required="" value="{{name}}" />
                        <div class="invalid-feedback"> </div>
                        <div class="valid-feedback"> </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label heading-color">비밀번호 *</label>
                        <input type="password" name="password" class="form-control form-control-lg" id="floatingInput" placeholder="" required="" value="" />
                        <div class="invalid-feedback">  </div>
                        <div class="valid-feedback"> </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label heading-color">제목 *</label>
                        <input type="text" name="title" class="form-control form-control-lg" placeholder="" required="" value="{{title}}" />
                        <div class="invalid-feedback">  </div>
                        <div class="valid-feedback">  </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label heading-color">내용 *</label>
                        <textarea name="content" class="form-control" placeholder="" id="floatingTextarea2" style="height: 150px" required="">{{content}}</textarea>
                        <div class="invalid-feedback">  </div>
                    </div>
                    <!-- Button -->
                    <button type="submit"  class="btn btn-lg btn-primary mb-0">확인</button>
                </form>


                {{/boardRead}}



            </div>
        </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->


{{>layouts/footer}}
