{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">

        <section>
            <div class="card shadow p-4 p-sm-5 p-md-6">


                {{#boardRead}}

                <!-- Card header -->
                <div class="card-header border-bottom px-0 pt-0 pb-3">
                    <!-- Title -->
                    <h3 class="mb-3 h3">{{title}}</h3>
                    <p class="mb-0"><a href="#"></a></p>
                </div>

                 <div class="col-md-6  pt-2">
                    <label class="form-label heading-color">{{name}} / {{createdDate}} </label>

                </div>

                <div class="col-12 mb-5">
                    {{content}}
                </div>
                <!-- Button -->

                <div class="col-sm-6 col-xl-3">
                    <a href="/board/{{bid}}/" class="btn btn-primary mb-0">목록</a>
                    <a href="/board/{{bid}}/{{idx}}/edit" class="btn btn-primary mb-0">수정</a>
                    <a href="/board/{{bid}}/{{idx}}/password" class="btn btn-primary mb-0">삭제</a>
                </div>

                {{/boardRead}}



            </div>
        </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->


{{>layouts/footer}}
