{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">


        <section>

            <h2 class="mt-5">정보수정</h2>
            <p class="mb-5"></p>

            {{#member}}
            <!-- Form START -->
            <form method="post" action = "/member/update">

                <!-- Email -->
                <div class="input-floating-label form-floating mb-4">
                    <label for="floatingInput">ID</label>
                    <label>{{userid}}</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <label for="floatingInput">Email address</label>
                    <label>{{email}}</label>
                </div>

                <div class="input-floating-label form-floating mb-4">
                    <label for="floatingInput">name address</label>
                    <label>{{username}}</label>
                </div>

                <div class="input-floating-label form-floating mb-4">
                    <label for="floatingInput">date</label>
                    <label>{{date}}</label>
                </div>

                <!-- Button -->
                <div class="align-items-center mt-0">
                    <div class="d-grid">
                        <submit class="btn btn-dark mb-0" type="button">목록</submit>
                    </div>
                </div>
            </form>
            <a href="/member/{{idx}}/edit">수정</a>
            <a href="/member/{{idx}}/delete">삭제</a>
            <!-- Form END -->
            {{/member}}

    </div>



    </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->
{{>layouts/footer}}
