{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">


        <section>

            <div class="card shadow p-4 p-sm-5 p-md-6">
                <!-- Card header -->
                <div class="card-header border-bottom px-0 pt-0 pb-5">
                    <!-- Breadcrumb -->
                    <nav class="mb-3" aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dots pt-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                        </ol>
                    </nav>
                    <!-- Title -->
                    <h1 class="mb-3 h3">Contact Us</h1>
                    <p class="mb-0">You can reach us anytime via <a href="#">example@gmail.com</a></p>
                </div>

                <!-- Card body & form -->
                <form class="card-body px-0 pb-0 pt-5 needs-validation" novalidate="">
                    <!-- Name -->
                    <div class="input-floating-label form-floating mb-4">
                        <input type="text" class="form-control bg-transparent" id="floatingName" placeholder="Password" required="">
                        <label for="floatingName">Your name</label>
                    </div>
                    <!-- Email -->
                    <div class="input-floating-label form-floating mb-4">
                        <input type="email" class="form-control bg-transparent" id="floatingInput" placeholder="name@example.com" required="">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <!-- Number -->
                    <div class="input-floating-label form-floating mb-4">
                        <input type="text" class="form-control bg-transparent" id="floatingNumber" placeholder="Password" required="">
                        <label for="floatingNumber">Phone number</label>
                    </div>
                    <!-- Message -->
                    <div class="input-floating-label form-floating mb-4">
                        <textarea class="form-control bg-transparent" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required=""></textarea>
                        <label for="floatingTextarea2">Message</label>
                    </div>
                    <!-- Button -->
                    <button class="btn btn-lg btn-primary mb-0">Send a message</button>
                </form>
            </div>

        </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->


{{>layouts/footer}}
