{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">



        <section>
            <div class="row mt-7">
                <div class="col-md-11 mx-auto">
                    <div class="row align-items-center">
                        <!-- Image -->
                        <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                            <img src="https://mizzle.webestica.com/assets/images/about/21.jpg" class="rounded" alt="">
                        </div>
                        <!-- Content -->
                        <div class="col-md-6 ms-auto">
                            <h2 class="mb-md-4">Endeavour Blue</h2>
                            <h4 class="mb-md-2">'새로운 일을 힘껏 노력하다'</h4>
                            <p class="mb-md-0 mt-6">Endeavour Blue는 적극성과 긍정의 색상입니다.</p>
                            <p class="mb-md-3">긍정적인 마음과 도전 정신으로 새로운 세계를 향한 의지의 색상입니다.</p>
                            <p class="mb-md-0">Endeavour Blue는 밝은 미래를 향한 희망적인 따뜻한 색상입니다.</p>
                            <p class="mb-md-0">미래를 예측하고, 긍정적인 태도로 이를 대비하여 미래를 개척하는 활력의 색상입니다.</p>
                            <div class="text-center d-inline-block bg-dark rounded px-5 py-3 mt-6">
                                <span class="text-white">회사소개서 다운로드</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->

{{>layouts/footer}}
