{{>layouts/header}}
<!-- **************** MAIN CONTENT START **************** -->
<main >
    <div class="container ">


        <section>

            <h2 class="mt-5">회원가입</h2>
            <p class="mb-5"></p>


            <!-- Form START -->
            <form action = "">

                <!-- Email -->
                <div class="input-floating-label form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>


                <!-- Password -->
                <div class="input-floating-label form-floating mb-4 position-relative">
                    <input type="password" class="form-control fakepassword pe-6" id="psw-input" placeholder="Enter your password">
                    <label for="floatingInput">Password</label>
                    <span class="position-absolute top-50 end-0 translate-middle-y p-0 me-2">
									<i class="fakepasswordicon fas  cursor-pointer p-2"></i>
								</span>
                </div>




                <!-- Button -->
                <div class="align-items-center mt-0">
                    <div class="d-grid">
                        <submit class="btn btn-dark mb-0" type="button">회원가입</submit>
                    </div>
                </div>
            </form>
            <!-- Form END -->

    </div>



    </section>


    </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->
{{>layouts/footer}}
